body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

header {
    background: #0a3d62;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 6px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #ddd;
}
.resume-btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #0a3d62;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.resume-btn:hover {
    background-color: #07406e;
}
